<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Choice</title>
</head>
<body>
    <main class="theChoices">
        <div class="choice">
            <div class="renters">
                <h1>I am Here to Rent</h1>
                <a href="./renters.ejs">Rent</a>
            </div>
            <div class="lenters">
                <h1>I am Here to Lent</h1>
                <a href="/lenters.ejs">Lent</a>
            </div>
        </div>
    </main>
</body>
</html>