<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="icon" href="">
    <title>Habi Farm</title>
</head>
<body>
    <!-- navigation bar -->
    <nav>
        <a src=""><img src=""></a>
        <h1>Habi Farm</h1>
    </nav>

    <!-- Getting the inputs -->
    <main>
        
        <p>Small Message about the company</p>
        <div>
            <a href="/login"><button>Login</button></a>
            <a href="/signup"><button>Sign Up</button></a>
        </div>
    </main>

    <!-- Submit buttons -->


    <!-- More details -->


    <!-- Renters, lenters -->



</body>
</html>