<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Lenters</title>
</head>
<body>
    <nav class="header">
        <h1>Habi Farm</h1>
    </nav>

    <main>
        <div>
            <p>Message:Rules to lend items</p>
        </div>
        <div class="theSignUp">
        <div class="signup">
            <label for="name">Name of items:</label>
            <input type="text" name="name" id="name" placeholder="Name of Items">
            <br>
            <label for="Cost">Price for the Items:</label>
            <input type="text" name="cost" id="cost" placeholder="Cost for the item">
            <br>
            <label for="upload">upload the image</label>
            <input type="text" name="upload" id="file-upload" placeholder="Insert Link to your Image" >
            <button type="submit">Submit</button>
        </div>
    </div>
    </main>
</body>
</html>