<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login</title>
</head>
<body>
    <nav class="header">
        <h1>Habi Farm</h1>
    </nav>
    <h1 class="title">Login Page</h1>
    <div class="theSignUp">
        <div class="signup">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Email">
            <br>
            <label for="password">Password:</label> 
            <input type="password" name="password" id="password" placeholder="password">
            <br>
            <label for="birth">Date of Birthday:</label>
            <input type="date" name="birth" id="birth" placeholder="Date of Birth">
            <button type="submit">submit</button>
        </div>
    </div>
</body>
</html>