<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Sign Up</title>
</head>
<body>
<div class="theBody">
    <nav class="header">
        <h1>Habi Farm</h1>
    </nav>
    <div class="theSignUp">
    <div class="signup">
    <label for="FName">First Name</label>
    <input type="text" name="First Name" placeholder="First Name" id="FName">
    <br>
    <label for="LName">Last Name</label>
    <input type="text" name="Last Name" placeholder="Last Name" id="LName">
    <br>
    <label for="LName">Username</label>
    <input type="text" name="Username" placeholder="UserName" id="username">
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password">
    <br>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Email">
    <br>
    <label for="location">Zip Code</label>
    <input type="text" name="zipcode" id="location" placeholder="Zip Code">
    <br>
    <label for="birth">Birth Date</label>
    <input type="date" name="birth" id="birth">
    <br>
    <button type="submit" class="submit-btn">submit</button>
</div>
</div>
<div class="footer">
    <p>Copyright 2023 Habi Farm</p>
</div>
</div>
</body>
</html>